# Data Analyst Associate Practical Exam Submission

## Task 1: Data Validation

<font color=Blue>
Task:  <br>
For every column in the data:<br>
- a. State whether the values match the description given in the table above.<br>
- b. State the number of missing values in the column.<br>
- c. Describe what you did to make values match the description if they did not match.<br>
</font>

**Product_id:** All of the values match the description that is given in the table and there are no missing values in this column.

**Category:** All 6 values that are named in the table are present in this column. There is however an additional value named "-", which does not match the description given in the table. This value "-" is present 25 times in the category column. To replace these 25 values that had "-", I changed these values to "Unknown" so that they match the description in the table.

**Animal:** All 4 values that are named in the table are present in this column. All values match the description that is given in the table and there are no missing values in this column.

**Size:** All 3 values that are named in the table are present in this column. However, there is some inconsistency on how the sizes are spelled. Some have a first letter capital, some are all caps, some all small, etc. I decided to change all the values that didn't exactly match the table to be correct. I changed 372 entries from "small" to "Small", and 157 entries from "SMALL" to "Small". I changed 233 entries from "medium" to "Medium", and 109 entries from "MEDIUM" to "Medium". I changed 122 entries from "large" to "Large", and 57 entries from "LARGE" to "Large". To check if there were no missing values still, I found and wrote down the number of "Small" (754), "Medium" (492), and "Large"(254), which total up to be 1500, which means there are no missing values in this column.

**Price:** The values don't specifically match the table. Some entries only have 1 or no decimal values, so I changed the format to have two decimals for all entries. There also is a value called "unlisted", which I changed to the overall median price, which is 28.07. Which I replaced a 150 times, which now results in no missing or incorrect values in this column.

**Sales:** Other than some data not having two decimal points, the data matches the table. I changed the format to have two decimals for all entries. There were also no missing values in this column.

**Rating:** The value "NA" doesn't match the table. I changed this to 0 to make sure this column matches the table. This resulted in replacing 150 values, but there were no missing values in this column.

**Repeat_purchase:** The values match the description given in the table and there are no missing values or mismatched values in this column

## Task 2: Visualization that shows how many products are repeat purchases

<font color=Blue>
Task: <br>
Create a visualization that shows how many products are repeat purchases. Use the
visualization to: <br>
- a. State which category of the variable repeat purchases has the most observations <br>
- b. Explain whether the observations are balanced across categories of the variable repeat purchases <br>
</font>

As seen in this visualization below, the category "Equipment" has the most repeat puchases out of all the categories, with 370 repeat purchases. The repeat purchases are relatively balanced accross the categories "Food", "Housing", "Medicine", and "Toys", with there only being a difference of 33 repeat purchases between the highest and lowest value of these 4 categories. The "Equipment" category is not balanced compared to these 4 categories since it has 110 more repeat purchases than the second highest category, which is "Food". "Accessory" and the "Unknown" category are also more than 100 repeat purchases below the lowest of the 4 categories, which shows that the scores for these categories are not balanced either.

![image-6](image-6.png)

## Task 3 Distribution of Sales

<font color=Blue>
Task:  <br>
Describe the distribution of all of the sales. Your answer must include a visualization that shows the distribution. <br>
</font>

To get a better feel of the sale amount for the orders, we should look at how the sales are distributed. As we can see from the visualization below, most sales fall below the amount of 1100 dollars, with 1043 sales being below and 433 being above this sale amount. ALso, we can see that the mode falls between the values of 1001 - 1100 dollars, with several outliers being present that have values above 2200 dollars. We can also see that there are no sales with a value lower than 200 dollars, so there are no real outliers on the lower part.

![image-9](image-9.png)

## Task 4 Relationship between sales and repeat purchase

<font color=Blue>
Task:  <br>
Describe the relationship between repeat purchases and sales. Your answer must
include a visualization to demonstrate the relationship. <br>
</font>

As we can see in the visualization below, the interquartile ranges of both repeat purchases and no repeat purchases overlap, this shows that there is a high similarity between the two box plots and not much difference. The median of no repeat purchases lies a little higher than the median of repeat purchases, but since the median of no repeat purchases is still in between the interquartile range of repeat purchases there is not much of a difference here either. When looking at the whiskers of both box plots, we can see that the range of no repeat purchases is larger than the range of repeat purchases. The fact that the interquartile ranges overlap so much and that the median's are close together and still within the other category's interquartile range, this shows that whether the purchases is a repeat or non repeat purchase does not have a big influence on sales.

![image-4](image-4.png)

## **Conclusion**

Based on all of the visualizations above, we can see that there is very little difference between repeat purchases and non repeat purchases. There is a slight difference that shows that non repeat purchases have slightly better sales than repeat purchases, this can especially be seen in the last box plot.